#logo{
text-align: center;
margin-top: 100px;
background: #d4f157;
position: static;
padding: 10px;
}

.button{

    padding: 8px 32px;
   	
   	display: block;
    font-size: 16px;
    margin-left: auto;
    background-color: #d4f157;
    border:#d4f157;

   	
    
    
}
#login{
	opacity: 0.5;
	border-bottom: 0.5px solid grey;
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #d4f157;
    margin-top:8px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:  0px;
    border-bottom: 2px solid #d4f157;
    outline: none;
}

label{
opacity: 0.5;
margin-top: 8px;
}

#error{
	color: red;
    display: none;
}




